<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-learning resource</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="icon" href="/static/images/favicon.ico">
    </head>

    <body>
        <div id="navbar">
            <a href="{{ url_for('home') }}" {% if active=='home' %}class="active"{% endif %}>Home</a>
            <a href="{{ url_for('resources') }}" {% if active=='resources' %}class="active"{% endif %}>Resources</a>
            <a href="{{ url_for('experience') }}" {% if active=='experience' %}class="active"{% endif %}>Experience</a>
            <a href="{{ url_for('course') }}" {% if active=='course' %}class="active"{% endif %}>Course</a>
        </div>
        <br>
        <br>
        {% block content %}{% endblock %}
    </body>
