<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-learning resource</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <div id="navbar">
            <!--
                This is the navigation bar. It is used to navigate between the different pages of the website.
                There is '(% if active=='home' %)class="active"(% endif %)'' in the a tags.
                (brackets are used instead of curly brackets to avoid confusion with the jinja2 syntax)
                This is an if statement that checks if a variable called 'active' is equal to a certain string.
                This is used to change the appearance of the navigation bar depending on the page that is being displayed.
            -->
            <a href="{{ url_for('home') }}" {% if active=='home' %}class="active"{% endif %}>Home</a>
            <a href="{{ url_for('resources') }}" {% if active=='resources' %}class="active"{% endif %}>Resources</a>
            <a href="{{ url_for('experience') }}" {% if active=='experience' %}class="active"{% endif %}>Experience</a>
            <a href="{{ url_for('courseContent') }}" {% if active=='course-content' %}class="active"{% endif %}>Course-content</a>
            <a href="{{ url_for('login') }}" {% if active=='log in' %}class="active"{% endif %}>Log-in</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--
        This is the content block. This is where the content of the page will be displayed.
        It is altered depending on the page that is being displayed.
        The program does this by using the 'block' and 'endblock' tags.
        -->

        {% block content %}{% endblock %}
        
        <!--
            This is the end of the content block.
        -->
        
        <script src="/static/js/script.js"></script> <!-- Scripts.js connected here -->
    </body>
    
</html>