{% extends ('base.html') %}

{% set active='course' %}

{% block content %}
    <h1 id="page-title">Content breakdown</h1>

    <div class="content">
        <!--The div groups elements together and applies styles to them all. In this case, holds them in a container.-->
        <h2 class="topic-title">Occupational Specialism</h2>
        <!--class is defined in CSS using #. Tags with a class follow the specified code so it is useful for making multiple tags look similar without affecting the entire site. It is like an id in CSS, but the difference is than an id is used once but a class can be used multiple times.-->
        <p>For the Occupational Specialism, the task is to analyse the problem, design a solution, create a prototype, and gathering and acting on feedback from users. This page will help break down each phase of the OS so it can be easier to understand.</p>
        <br> <!--This tag br is used to add spacing-->
        <h3>Task 1 a(i) - Research the topic</h3>
        <p></p>
        <br>
        <h3>Task 1 a(ii) - Write the proposal for your solution.</h3>
        <p></p>
        <br>
        <h3>Task 1 b - Create a design for your solution.</h3>
        <p></p>
        <br>
        <h3>Task 2 - Create your prototype and test it.</h3>
        <p></p>
        <br>
        <h3>Task 3 a - Create a review form and gather information from it.</h3>
        <p></p>
        <br>
        <h3>Task 3 b - Use the feedback given to you to evaluate how to better the system.</h3>
        <p></p>
    </div> 

{% endblock %}