{% extends ('base.html') %}

{% set active='course-content' %}

{% block content %}
    <h1 id="page-title">Course content breakdown</h1>

    <div class="content">
        <!--The div groups elements together and applies styles to them all. In this case, holds them in a container.-->
        <h2 class="topic-title">Occupational Specialism</h2>
        <!--class is defined in CSS using '.'. Tags with a class follow the specified code so it is useful for making multiple tags look similar without affecting the entire site. It is like an id in CSS, but the difference is than an id is used once but a class can be used multiple times.-->
        <p>
            The Occupational Specialism is split up into 3 tasks. 
            The first task is to analyse the problem and then describe and design a solution. 
            The second task is to create a prototype and test it. 
            And the final task is gathering and acting on feedback from users. 
            This section will help break down each phase of the OS so it can be easier to understand.</p>
        <br> <!--This tag br is used to add spacing-->
        <h3>Task 1 a(i) - Research the topic</h3>
        <p>
            In this task, you should research content around your brief. 
            You should research as much as you can relating to the brief such as competitors websites and legislations related to the brief. 
            This task is not marked so do not stress, but still use the time given to you to jot down ideas and research as this gives you an upper hand in the exams.
        </p>
        <br>
        <h3>Task 1 a(ii) - Write the proposal for your solution.</h3>
        <p>
            In this task, you must create a proposal for your solution. 
            This task is joined with task 1 b with a total time of 20 hours. 
            For this task it is best to manage your time efficiently as there are a total 24 marks to gain from this task so you should use around 7-8 hours for this task. 
            To complete this task you must explain what your solution is and how it meets the clients needs. 
            The key information is linked <a class="resource-links" target="_blank" href="https://collyer82.sharepoint.com/sites/TLevelDigital/SitePages/YEAR-2---Task-1-Activity-A(ii).aspx?csf=1&web=1&share=EbkaXAGXDX5OgKEvskOQGkYBlERP4VhUpfXgN4mjk05m7A&e=yGN7rq">here</a>.
        </p>
        <br>
        <h3>Task 1 b - Create a design for your solution.</h3>
        <p>
            In this task, you must complete a design for your program. 
            This can be done on a variety of different sofware such as Figma or Adobe XD to name a few. 
            This task is linked with task 1 a(ii) with a total time of 20 hours. For this task, you can gain a total of 34 marks and it is recommended that you take 12-13 hours on this task. 
            For this task to be done efficiently, you can use the time in the research task to decide on a colour theme you want for the site or what is common for the competitors of the company in the brief. 
            An aspect that will make your design look better is to have every page designed with some functionality to show how the site will work.
        </p>
        <br>
        <h3>Task 2 - Create your prototype and test it.</h3>
        <p>
            In this task, you should create a prototype and a test plan. 
            The test plan will be used for the second final parts of this task as you must test the functionality. 
            This task is given a total of 30 hours and a maximum of 48 marks. 
            This task is the most laborsome as it is the longest and the hardest for most people. 
            You should not worry however, as for this exam you have access to the internet and may search for answers to your questions. 
            To complete this task efficiently, you should spend time using resources to practice your skills so you can complete this task to the best of your ability.
        </p>
        <br>
        <h3>Task 3 a - Create a review form and gather information from it.</h3>
        <p>
            In this task, you create a review form and gather technical and non-technical participants to answer this form. 
            This task is 15 hours long and is worth 24 marks.
            It is very useful for gathering feedback regarding how your website looks, functions and how it can be improved. 
            This is very helpful on any project as if you create something, you can miss things that others can see or lead to things being unclear. 
            For instance, in the development of this system the login page did not differentiate between the two different forms so users were trying to sign up in the login form. 
            So using feedback can greatly help you in the development of your system so it is accessable.
        </p>
        <br>
        <h3>Task 3 b - Use the feedback given to you to evaluate how to better the system.</h3>
        <p>
            In this task you must use the feedback given to you to evaluate how to better the system. 
            This task is only 1.5 hours long and worth 24 marks so you must use your time wisely to evaluate the feedback given to you. 
            The best way to tackle this task is to look at the feedback given to you and see what is the most common issue and what is the most important issue. 
            If you evaluate these, it is likely that you will get a higher mark as you are showing that you can evaluate feedback.
        </p>
        <br>
        <br>
        <h2 class="topic-title">Employer Set Project</h2>
        <p>
            The Employer Set Project is built up of four tasks and focuses on the process of managing and developing a system. 
            During these exams you must design and plan how the project will be executed and even work on fixing and upgrading some programs.
        </p>
    </div> 

{% endblock %}