{% extends ('base.html') %}

{% set active='home' %}

{% block content %}
    <h1 id="page-title">Home page</h1>
    <div class="content">
        <h1>Welcome to the home page of the E-learning resource</h1>
        <p>Here you can find all the resources you need to succeed in this course. Such as what resources you can use to better your abilities. There are lots of resources that can help you with your course, but knowing where to find them can be challenging. This is why there is a page dedicated to helping find resources.</p>
        <br>
        <br>
        <p>There is a page that contains some quotes of previous students that have worked on the course where they share what they did to better develop themselves in the course. This could be beneficial for finding new revision strategies or even new ways of learning.</p>
        <br>
        <br>
        <p>There is also break down of the different tasks over the two course years. This is useful for understanding what is necessary for each area of the course so if you are struggling with a paper, it can help you understand what it is covering.</p>
    </div>

{% endblock %}