{% extends ('base.html') %}

{% set active='resources' %}

{% block content %}
    <!--
        This is the content block. This is where the content of the page will be displayed.
        It is altered depending on the page that is being displayed.
    

        This is an idea for a menu container. It is used to hold the menu that is displayed on the page.
        It is used to navigate between the different sections of the page.
        This is another use of the id function where is links to content of the page.

    <div id="menu-container">
        <h3><u>Year 1</u></h3>
        <a class="interactive" href="#ESP">Go to the ESP</a>
        <a class="interactive" href="#Core">Go to the Core papers</a>
        <br>
        <h3><u>Year 2</u></h3>
        <a class="interactive" href="#OS">Go to the OS</a>
    </div>
    -->

    <h1 id="page-title">Resources</h1>
        
    <div class="content">
        <h2 class="topic-title" id="ESP">Employer set project</h2>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h2 class="topic-title" id="Core">Core papers</h2>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h2 class="topic-title" id="OS">Occupational specialism</h2>
        <p>This page itself is a useful resource. Press F12 to open the side menu and see the code to operate this site.</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}